.recipe-list {
  li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    img {
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto;
      position: absolute;

      &.portrait {
        width: 300px;
      }

      &.landscape {
        height: 300px;
      }      
    }

    div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      height: 55px;

      h2 {
        margin: 5px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;        
      }

      p {
        margin: 5px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}